<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IndieFlixTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55B4343D1D25C96700C1BCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B434531D25C96700C1BCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B4345E1D25C96700C1BCB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
